@import "tailwindcss";

:root {
  --primary-color:#102542 ;
  --secondary-color: #F87060;
  --third-color: #F5F0EB
}

@theme inline {
  --color-background: var(--primary-color);
  --color-foreground: var(--second-color);
  --color-accent: var(--third-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-color);
    --foreground: var(--secondary-color);
  }
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
